<% include ../partials/header %>



<% projekt.forEach(function(data){ %>
<div class ="container">
    <div class="jumbotron">
        <h1  class="display-4"><%= data.name %></h1>
        <h2  class="display-6"><%= data.subName %> </h2>
        <p> <%= data.created_data %></p>
        <p> <%= data.tags %></p>
        <div>
            <%= data.text %>
        </div>

         <a class="btn btn-primary btn-lg" href="#" role="button">Learn more about <%= data.name%></a>
         
         <p> <%= data.created_data %></p>
    </div>
</div>
    
  <% }); %>
 <% include ../partials/footer %>